
/* ----------------------- BOXES ------------------------- */

.box {
	margin-bottom:21px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	position:relative;
	overflow:hidden;
}

.box-head {
	color:#434343;
	font-size:14px;
	line-height:23px;
	font-weight:bold;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	background:url(../images/title-bg.jpg) repeat-x 0 0 #ffffff;
	padding:13px 0 15px 12px;
	letter-spacing:-1px;
}
.box-head a {	
	color:#434343;
	text-decoration:none;
}
.box-head a:hover {}

.box-body {
	background:#fff;
	padding:10px 0;
}

.box-body ul {margin:-1px 0 0 0; padding:0; list-style:none;}
.box-body ul li { padding:5px 5px 5px 15px;}
.box-body ul li a {
	height:20px;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	color:#333333;
}
.box-body ul li a:hover {
	color:#fc9b01;
}

.box-body ol {margin:0; padding:0; list-style:none;}
.box-body ol li {padding:5px 0 5px 30px;}
.box-body ol li a {
	font-size:15px;
	line-height:18px;
	text-transform:uppercase;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	color:#333333;
}
.box-body ol li a:hover {color:#fc9b01;}
#sendSpendWrapper { padding:10px;}


/* ----------------------- LISTING BOXES ------------------------- */


#categories {}
#categories .box-head{ display:none;}
#categories .box-body{
	padding:20px 0 19px 0;
	background:#fc9b01;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	position:relative;
}
#categories ul li a{
	color:#fff;
}
.box-body ul li.category-products a:hover,
.box-body ul li .category-subs-parent-selected,
.box-body ul li .category-subs-selected,
#categories ul li a:hover{
	color:#393939;
}
.box-body ul li.category-products.one{
	margin-top:10px;
}
.box-body ul li.category-products.last{
	margin-bottom:18px;
}
.box-body ul li.category-products{
	padding:0 0 5px 51px!important;
}
.box-body ul li.category-products a{
	font-family:Arial, Helvetica, sans-serif;
	text-transform:none;
	color:#fff;
	font-size:12px;
	line-height:14px;
	font-weight:normal;
	background:url(../images/block_categ_bullet.png) no-repeat 0 6px;
	padding:0 0 0 3px;
}

#moreinformation {}


#information {}


#bestsellers {}


#ezpages {}


#orderhistory {}
#orderhistory .box-body img {background:#FFFFFF; padding:2px; border:1px solid #AAAAAA; vertical-align:middle; margin:2px 0px 2px 0px;}
#orderhistory .no-bg{ background:none; padding:0;}
#orderhistory a{ display:inline; background:none; padding:0;}


/* ----------------------- BANNER BOXES ------------------------- */

#bannerbox {}

#bannerbox2 {}

#bannerboxall {}



/* ----------------------- PRODUCT BOXES ------------------------- */

#featured a img, 
#whatsnew a img, 
#specials a img, 
#reviews a img, 
#manufacturerinfo img, 
#productnotifications img {margin:0 0 8px;}

#reviews img {margin:5px 0 0;}



#featured {}
#featured .box-body{background:#fff; padding-bottom:1px;}
#featured .sideBoxContent:first-child{ 
	border:none;
	padding:16px 0 17px 0;
}
#featured .sideBoxContent{
	border-top:1px solid #eaeaea;
	margin:0 1px;
	overflow:hidden;
	width:100%;
	padding:15px 0 17px 0;
}
#featured .sideBoxContent .img{
	float:left;
	width:90px;
	height:90px;
	margin:4px 5px 0 10px;
}
#featured .sideBoxContent .img img{
	width:80px;
	height:80px;
}
#featured .sideBoxContent .sb-info{
	float:left;
	width:126px;
}
#featured .box-body .name{
	color:#333333;
	font-weight:bold;
	font-size:12px;
	line-height:18px;
	min-height:45px;
	display:inline-block;
}
#featured .box-body .sideBoxContent:hover .name{
	color:#fc9b01;
}
#featured .box-body .normalprice {text-decoration:line-through; color:#a1a1a1;
	font-size:20px;
	line-height:21px;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;}
#featured .box-body .productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#fc9b01;
	font-size:20px;
	line-height:21px;
	font-weight:600;
	margin-top:2px;
	display:block;
	font-family: 'Open Sans', sans-serif;}




#whatsnew {}
#whatsnew .box-body{background:#fff; padding-bottom:1px;}
#whatsnew .sideBoxContent:first-child{ 
	border:none;
	padding:16px 0 17px 0;
}
#whatsnew .sideBoxContent{
	border-top:1px solid #eaeaea;
	margin:0 1px;
	overflow:hidden;
	width:100%;
	padding:15px 0 17px 0;
}
#whatsnew .sideBoxContent .img{
	float:left;
	width:90px;
	height:90px;
	margin:4px 5px 0 10px;
}
#whatsnew .sideBoxContent .img img{
	width:80px;
	height:80px;
}
#whatsnew .sideBoxContent .sb-info{
	float:left;
	width:126px;
}
#whatsnew .box-body .name{
	color:#333333;
	font-weight:bold;
	font-size:12px;
	line-height:18px;
	min-height:45px;
	display:inline-block;
}
#whatsnew .box-body .sideBoxContent:hover .name{
	color:#fc9b01;
}
#whatsnew .box-body .normalprice {text-decoration:line-through; color:#a1a1a1;
	font-size:20px;
	line-height:21px;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;}
#whatsnew .box-body .productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#fc9b01;
	font-size:20px;
	line-height:21px;
	font-weight:600;
	margin-top:2px;
	display:block;
	font-family: 'Open Sans', sans-serif;}



#specials {}
#specials .box-body{background:#fff; padding-bottom:1px;}
#specials .sideBoxContent:first-child{ 
	border:none;
	padding:16px 0 17px 0;
}
#specials .sideBoxContent{
	border-top:1px solid #eaeaea;
	margin:0 1px;
	overflow:hidden;
	width:100%;
	padding:15px 0 17px 0;
}
#specials .sideBoxContent .img{
	float:left;
	width:90px;
	height:90px;
	margin:4px 5px 0 10px;
}
#specials .sideBoxContent .img img{
	width:80px;
	height:80px;
}
#specials .sideBoxContent .desc{
	float:left;
	width:126px;
}
#specials .box-body .name{
	color:#333333;
	font-weight:bold;
	font-size:12px;
	line-height:18px;
	min-height:45px;
	display:inline-block;
}
#specials .box-body .sideBoxContent:hover .name{
	color:#fc9b01;
}
#specials .box-body .normalprice {text-decoration:line-through; color:#a1a1a1;
	font-size:20px;
	line-height:21px;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;}
#specials .box-body .productSpecialPrice, .productSalePrice, .productSpecialPriceSale {color:#fc9b01;
	font-size:20px;
	line-height:21px;
	font-weight:600;
	margin-top:2px;
	display:block;
	font-family: 'Open Sans', sans-serif;}


#reviews {}
#reviews .box-body{ text-align:center;}

#manufacturerinfo {}


#productnotifications {}
#productnotifications .box-body{ text-align:center;}




/* ----------------------- FORM BOXES ------------------------- */

#search {}
#search .box-body{
	overflow:hidden;
	width:100%;
	padding:10px;
}
#search .advsearch{
	color:#464646;
	font-size:13px;
	line-height:24px;
	text-decoration:underline;
	text-transform:lowercase;
	font-family: 'Droid Sans', sans-serif;
	float:left;
	display:inline-block;
}
#search .advsearch:hover{ text-decoration:none;}
#search input{ border:solid 0px; padding:0; background:url(../images/search.gif) no-repeat 0 0;  width:35px; height:35px; vertical-align:middle; float:left; display:block; text-indent:-1000px; cursor: pointer; display:none;}
#search .input1{
	border:solid 1px #e8e8e7;
	margin-right:2px;
	display:block;
	width:215px!important;
	cursor:text;
	padding: 2px 2px 2px 2px; 
	float:left;
	margin-bottom:11px;
	background:#fff;
	text-indent:0;
	height:18px!important;
}


#manufacturers {}
#manufacturers .box-body {text-align:center;}


#currencies {}
#currencies .box-body {text-align:center;}
#currencies select{ width:90%;}


#recordcompanies {}
#recordcompanies .box-body {text-align:center;}


#musicgenres {}
#musicgenres .box-body {text-align:center;}



/* ----------------------- TEXT BOXES ------------------------- */

#languages {}
#languages .box-body {text-align:center;}


#whosonline {}
#whosonline .box-body {text-align:center;}


#documentcategories {}


#shoppingcart {}
#shoppingcart .cart_line {}
#shoppingcart #cartBoxEmpty {text-align:center;}
#shoppingcart li a{ padding:0; background:none;}
#shoppingcart .price{ padding:0 15px 0 0;}
